/*estilos generales*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', Verdana;
}
html, body {
    overflow-x: hidden;
}
body{
    background: white;
}
.clearfix{
    clear: both;
    float: none;
}

.container{
    width: 85%;
    margin: 0px auto;
}

/*cabecera*/
#main-header{
    background: white;
    height: 100px;
    line-height: 85px;
}
#logo{
    width:  65%;
    float: left;
}
#logo h1 {
    font-weight: bold;
    font-size: 25px;
    color: #fb314e;
}

#menu{
    width: 380px;
    float: left;
}

#menu ul li{
    list-style: none;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

#menu ul li a {
    color: black;
}

#menu ul li a:hover {
    color: #fb314e;
}

/*slider*/
#slider{
    height: 300px;
    background: #fb314e;
}
#slider h2{
    font-size: 40px;
    text-align: center;
    color:white;
    line-height: 290px;
    text-shadow: 0px 0px 6px black;
}
.d-none{
    display: none;
}
/* servicios */

.subheader{
    font-size: 34px;
    color:#333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(251, 49, 78, 0.3);
}

.service , .video{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service img{
    height: 48px;
    margin-bottom: 20px;
}

.service h3{
    margin-bottom: 10px;
}
.service p, .video p{
    color: #444;
    text-align: center;
    display: block;
    width: 85%;
    margin: 0px auto;
}

/* video */
.video iframe{
    width: 80%;
    height: 170px;
}

/* footer */
#footer{
    background: #333;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center; 
    color: white;
}
#footer .subheader{
    color: white;
}

#networks{
    display: block;
    width: 216px;
    margin: 0px auto;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

#networks li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 300ms
}
#networks li:hover{
    opacity: 0.8;
    transform: scale(1.1,1.1);
}

@media (max-width : 1278px ){
    .container{
        width: 95%;
    }
}
@media (max-width : 1143px){
    #main-header{
        height: 70px;
        line-height: 65px;
    }
    #logo{
        width: 35%;
        float: none;
        margin: 0px auto;
        text-align: center;
    }
    #menu{
        float: none;
        margin: 0px auto;
    }
}

@media (max-width : 831px){
    #logo{
        width: 40%;
        float: none;
        margin: 0px auto;
    }
}
@media (max-width : 780px){
    .service , .video{
        width: 100%;
    }

    .service p, .video p{
        margin-top: 10px;
    }

    .service img{
        margin-bottom: 10px;
    }

    .video iframe{
        width: 80%;
        height: 220px;
    }
}
@media (max-width : 749px){
    #logo{
        width: 50%;
        float: none;
        margin: 0px auto;
    }
    #slider{
        overflow: hidden;
        height: 150px;
    }
    #slider h2{
        font-size: 30px;
        line-height: 30px;
        margin-top: 45px;
    }
}


@media (max-width : 666px){
    #logo{
        width: 60%;
        float: none;
        margin: 0px auto;
    }
}

@media (max-width : 599px){
    #logo{
        text-align: center;
        width: 100%;
        float: none;
        margin: 0px auto;
    }
}